
<!-- <link rel="stylesheet" href="styles/profile2.css">-->
<!-- Try out angular material package -->
   <!-- Add a calendar section to this -->
   <!--Figure out how to make this look better -->
   <!-- Try out material light icons -->
   <section class="chat-app">
  <div ng-include="'partials/navbar'"></div>
  <div class="main">
<div ng-include="'partials/speeddial'"></div>
    <div class="page-container">
      <div class="row">
        <div class="col-sm-12">
        <div id="mainwrap">
            <header>
      
      <h2>{{ user.name }}</h2>
      <ul id="menu">
        <li><span>Rating</span></li>
       
  <div ng-controller="StarCtrl"> 
    <div class=col-md-12>
        <div ng-repeat="rating in ratings">
        
            <div star-rating rating-value="rating.current" max="rating.max" on-rating-selected="getSelectedRating(rating)"></div>
        </div>
       
    </div>
    <div class="col-md-12 clear">
      <div class="btn-toolbar" role="toolbar">
       
       
    </div>
  </div>
</div>
    <div style="clear:both"></div>
    <div id="content">
      <div id="profile" class="section">
        <div class="column col3">
          <table id="bioinfo" cellspacing="0" class="no-spacing">
            <tbody>
              <tr>
             
         <!-- <img class="author-profile" ng-src="{{ visitor.profileImg }}">-->
          
       </a></h1> <br>
              </tr>
              <tr>
                Major: {{ user.major }}<br>
              </tr>
              Email: {{ user.email }}
              </tr>
            </tbody>
          </table>
        </div>
        <div class="column col5 pl-50">
          <img src="{{user.profileImg}}" height="150" width="150"/>
          <p>Bio: {{ user.biography }}</p>
        </div>
      </div>

  </div>
</div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
     <!--<div id="mainwrap">
  
    <header>
      <h1><a href="/">Saitama</a></h1>
      <h2>B-Class SuperHero</h2>
      <ul id="menu">
        <li><a class="profile" href="#profile" title="Profile">Profile</a><span>Some information about me</span></li>
    <div style="clear:both"></div>
    <div id="content">
      <div id="profile" class="section">
        <div class="column col3">
          <table id="bioinfo">
            <tbody>
              <tr>
                <td class="odd">Name</td>
                <td class="even">Saitama</td>
              </tr>
              <tr>
                <td class="odd">Languages</td>
                <td class="even">English, French</td>
              </tr>
              <tr>
                <td class="odd">Major</td>
                <td class="even">Computer Science</td>
              </tr>
              <tr>
                <td class="odd">Email</td>
                <td class="even">saitama@uncc.edu</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="column col5 pl-50">
          <img src="https://res.cloudinary.com/teepublic/image/private/s--WTaJn9tK--/t_Preview/b_rgb:191919,c_limit,f_jpg,h_630,q_90,w_630/v1446249858/production/designs/319345_2.jpg"/>
          <p>Bio: Saitama is a bald, ordinary looking man with a thin, but well-built physique and of average height and weight. He claims to have lost all of his hair suddenly and prematurely as a result of the toll taken on his body by his intense hero training. Three years before the story line, Saitama had spiky, black hair and brown eyes that are usually represented by dots.</p>
        </div>
      </div>

  </div>



     
  </div>

